body {
  background-color: wheat;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Poppins',
    sans-serif;
  margin-block: 0;
  padding-inline: 5vw;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

p {
  width: 100%;
  margin-block: 0;
  padding-left: 10px;
}

ul {
  padding: 0;
}

li:has(> input:checked) > p {
  text-decoration: line-through;
}

li button {
  border: 0;
  background-color: transparent;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul li:not(:last-child) {
  margin-bottom: 0.5rem;

}

h1 {
  text-align: center;
}

input {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: transparent;
  color: aliceblue;
  font-size: 1.5rem;
}

form input {
  width: 100%;
}

input::placeholder {
  color: black;
  opacity: 0.3;
}

input:focus-within {
  outline: none;
}

.add {
  height: 100%;
  border: 0;
  background-color: black;
  color: wheat;
  padding: 0 1.5rem;
  font-size: 1rem;
}

.add-button {
  justify-self: stretch;
}

#todo-form {
  display: flex;
  background-color: rgb(182, 165, 133);
  border-radius: 10px;
  overflow: hidden;
}